@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-rotate {
    0% {
    border-color: rgba(255, 255, 255, 0);
    }
    50% {
    border-color: rgba(255, 255, 255, 1);
    }
    100% {
    border-color: rgba(255, 255, 255, 0);
    }
}
.side a{
    @apply p-3 my-2 duration-100 rounded-md hover:bg-amber-200 block;
}

.titlesidebar{
    @apply p-2 mt-2  text-xl font-bold pb-[10px] border-opacity-50 w-full flex justify-between items-center text-amber-500 px-2;
}
.titlesidebar .arrow {
    @apply transition-transform duration-300 size-5; /* Apply smooth transition */
}
.titlesidebar:hover .arrow {
    @apply rotate-90; /* Rotate the arrow when the parent is hovered */
}
.inputs{
    @apply w-full h-8 p-3 text-white bg-gray-600 rounded-md md:w-full lg:w-full hover:ring-2 hover:ring-slate-400 lg:h-8 md:h-5;
}
.sp{
    @apply md:space-y-0 lg:space-y-2;
}
.drop{
    @apply w-full bg-gray-600 border-0 rounded-md h-9 hover:ring-2 hover:ring-slate-400;
}
.card{
    @apply w-full p-3 bg-white drop-shadow-xl ring-gray-300 ring-opacity-50 hover:ring-2  hover:ring-yellow-500 rounded-md h-fit ring-1;
}
.cards{
    @apply w-full p-3 bg-white drop-shadow-xl ring-black ring-opacity-5 rounded-md h-fit ring-1;
}
.jobtype{
    @apply text-2xl font-bold hover:underline text-black;
}
.dept{
    @apply  my-1 text-gray-700 ;
}
.smoldesc{
    @apply mt-1 text-gray-700;
}

.time{
    @apply self-end p-1 text-gray-600 font-bold w-fit h-fit;
}
.headsearch{
  /* background-image: url(/public/images/bg.png); */
    background: rgb(245,249,249);
    background: linear-gradient(0deg, rgba(245,249,249,1) 26%, rgba(245,180,81,1) 100%);
}
.jobsortopt{
    @apply w-[30%] p-1 bg-gray-300 rounded-2xl;
}

.count-card{
    @apply  flex items-center  justify-between w-[45%] h-[45%] md:w-[20%] lg:w-[45%] drop-shadow-lg p-4 rounded-xl m-2 block bg-gradient-to-r from-amber-400 to-yellow-300;
}

.label-count{
    @apply text-xl font-bold text-black;
}
.candidate-card{
    @apply min-h-[100px] lg:w-[250px] md:w-[300px]  w-[300px] rounded-lg m-2 p-2 font-bold text-2xl bg-gradient-to-r from-amber-400 to-yellow-300;;
}
.custom-radio{
    @apply w-36 h-36;
}

.tableslide{
    background-image: url(/public/images/blob-scene-haikei.png);
    @apply bg-cover  bg-no-repeat ;
}
.tableslide2{
    background-image: url(/public/images/blob-scene-haikei-passed.png);
    @apply bg-cover  bg-no-repeat ;
}
.tableslide3{
    background-image: url(/public/images/blob-scene-haikei-failed.png);
    @apply bg-cover  bg-no-repeat ;
}
.modal-add{
    background-image: url(/public/images/blob-scene-haikei.png);
    @apply bg-cover  bg-no-repeat ;
}
.modal-add2{
    background-image: url(/public/images/layered-waves-haikei.png);
    @apply bg-cover  bg-no-repeat ;
}


/* Hide scrollbar for Webkit browsers */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

/* Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
    width: 0px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* for Internet Explorer and Edge */
  scrollbar-width: none;     /* for Firefox */
}

.scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background: #ffff;
    border-radius: 5px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #ffff;
}
/* Progress bar */
progress {
    /* Removes the default styling */
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 10px;
    border-radius: 10px;
    background-color: #eee; /* Background bar color */
    overflow: hidden;
  }
  
  /* WebKit-based browsers */
  progress::-webkit-progress-bar {
    background-color: #eee; /* Custom background bar */
    border-radius: 10px;
  }
  
  progress::-webkit-progress-value {
    background-color: #1eff00; /* Custom progress bar color */
    border-radius: 10px 0 0 10px; /* Rounds the start of the bar */
  }
  
  /* Firefox */
  progress::-moz-progress-bar {
    background-color: #1eff00; /* Custom progress bar color */
    border-radius: 10px 0 0 10px; /* Rounds the start of the bar */
  }
